{
    "actions": {
        "download": true,
        "upload": true,
        "transform": true
    },
    "catalog_folder": "latest",
    "debug_mode": false,
    "log_level": "INFO",
    "molgenis": {
        "hostname": "http://localhost:8080",
        "token": ""
    },
    "src_dir": "catalog",
    "s3": {
        "accessKey": "molgenis",
        "bucket": "molgenis",
        "hostname": "localhost:9000",
        "region": "eu-west-1",
        "secretKey": "",
        "secure": false
    },
    "target_dir": "generated"
}