{
    "accessKey": "molgenis",
    "bucket": "molgenis",
    "molgenis_hostname": "https://dev-lifelines.test.molgenis.org",
    "s3_hostname": "localhost:9000",
    "secretKey": "molgenis",
    "secure": false,
    "src_dir": "./catalogue",
    "target_dir": "./generated"
}